.todo-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0px;
  padding: 5px;
  width: 500px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.add-task-button,
.reset-button {
  width: 125px;
  height: 35px;
}

.button-o,
.button-x {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

.heading {
  text-transform: capitalize;
}
