.new-form-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(97, 237, 170, 0.97);
  padding: 10px;
  font-family: Arial;
  color: wheat;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-new-task {
  color: black;
  font-size: 30px;
  padding-bottom: 5px;
}

.input-field {
  margin-bottom: 10px;
  font-size: 30px;
}

.color-picker {
  margin: 25px;
  width: 100px;
  height: 50px;
}

.submit-button {
  background-color: #04aa6d;
  border: none;
  color: black;
  padding: 8px;
  text-decoration: none;
  margin-bottom: 10px;
  all: unset;
  cursor: pointer;
  font-size: 30px;
  padding-bottom: 50px;
}

.error-div {
  color: red;
  font-size: 20px;
  margin-bottom: 100px;
}

.cancel-button {
  margin-top: 100px;
  all: unset;
  cursor: pointer;
}

.cancel-button:focus {
  outline: orange 5px auto;
}
